*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: white ;
}

       

.container {
    /* border: 1px solid black; */
    display: flex;
    text-align: left;
    margin: 100px auto;
    width: 800px;
    height: 400px;
}
.one {
    background-color:hsl(31, 77%, 52%);
    padding: 40px;

}
.two{
    background-color: hsl(184, 100%, 22%);
    padding: 40px;
}
.three {
    background-color: hsl(179, 100%, 13%) ;
    padding: 40px;
}
.heading{
    font-family: Big Shoulders Display;
    font-weight: 700;
    color: hsl(0, 0%, 95%);
    padding-top: 20px;
    padding-bottom: 20px;
}
.article {
    font-family: Big Shoulders Display, cursive;
    font-weight: 400;
    font-size: 15px;
    color:  hsla(0, 0%, 100%, 0.75);
    font-size: 16px;
    padding-bottom: 90px

}
#btn-one {
    background-color:   hsl(31, 77%, 52%);
    border-radius: 100px;
    width: 7rem;
    height: 2rem;
    
font-family: sans-serif;
color: hsl(0, 0%, 95%) ;
border:1px solid white ;


}
#btn-two {
    background-color: hsl(184, 100%, 22%) ;
    border-radius: 100px;
    width: 7rem;
    height: 2rem;
    font-family: sans-serif;
    border:1px solid white ;
    

    
}

#btn-three {
    background-color: hsl(179, 100%, 13%) ;
    border-radius: 40px;
    width: 7rem;
    height: 2rem;
   
    font-family: sans-serif;
border:1px solid white ;

}
.link {
    text-decoration: none;
    color: hsl(0, 0%, 95%);
}
@media (max-width: 500px) {
    .container {
      margin: 50px auto;
      display: flex;
      flex-direction: column;
      width: 375px;
      
    }
  
    .one{
      
      padding: 60px;
    }
  
    .two {
      padding: 60px;
    }
  
    .three {
      padding: 60px 66px;
      
    }
  
    .article {
      padding-bottom: 30px;
    }
}