            *{
                margin: 0;
                padding: 0;
            }
            body {
                background-color:black;
                display: flex ;
                place-items: center;
                height: 100vh;
                margin-left: 25rem;
            }
            .box {
                
                border: 1px solid black;
            
            
            }
            
            .css-grids, .box{
                padding: 2em;
                text-align: center;
                
            }
            .css-grids {
                display: grid;
            padding: 2em;
            grid-template-areas: 
             'a a a b b'
             'c c d d d'
             'c c e e e'
            ;
            gap: 3px;
            width: 50%;
            height: 50%;
           
        
            }
        
                .one {
                background-color: red;
                grid-area: a;
                
            }
        
                .two {
                    background-color: orange;
                    grid-area: b;
                
            }
                .three {
                    background-color: green;
                grid-area: c;
            }
                .four {
                    background-color:blue;
                    grid-area: d;
        
            }
       
            .five {
                background-color: blue;
                grid-area: e;
            }