


header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}
/* Global */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color:#606c38;
}

/* Header */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 50px;
    box-shadow: 0 1px 8px #ddd;
}

#nav-title {
    margin-right: auto;
    font-size: 1.5em;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

header a {
    text-decoration: none;
    color: #555;
    transition: all 0.3s ease 0s;
    font-weight: 600;
    color: white;
}

header a:hover {
    color: #b2dfdb;
}

#intro
{
    color: white;
    font-weight: 700;
    position: absolute;
    margin-top: 200px;
    margin-left: 50px;
    font-size: x-large;
}

#con-tact{
    border: 0;
    background: none;
    display: block;
    margin: 2rem auto;
    text-align: center;
    border: 0.2rem solid #480ca8;
    padding: 1.4rem 4rem;
    width: 10rem;
    outline: none;
    color: white;
    border-radius: 2.4rem;
    transition: 0.25s;
}

img {border-radius:30% 70% 70% 30% / 78% 28% 72% 22%;
margin-left:800px;
margin-top: 50px;
border: 10px solid rgb(12, 175, 67);} 
